<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>表单数据的自动收集</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>

<div id="app">

    <!-- <form> -->
        <label>用户名：
            <input type="text" v-model="username">
        </label>
        <span v-cloak>{{username}}</span>
        <br>

        <label>密码：
            <input id="password" type="password" v-model="password">
        </label>
        <span v-cloak>{{password}}</span>
        <br>

        <label>性别：</label>
        <label>
            <input type="radio" value="male" v-model="gender">男
        </label>
        <label>
            <input type="radio" value="female" v-model="gender">女
        </label>
        <span v-cloak>{{gender}}</span>
        <br>

        <label>爱好：</label>
        <label>
            <input type="checkbox" value="basketball" v-model="hobby">篮球
        </label>
        <label>
            <input type="checkbox" value="football" v-model="hobby">足球
        </label>
        <label>
            <input type="checkbox" value="pingpong" v-model="hobby">乒乓球
        </label>
        <span v-cloak>{{hobby}}</span>
        <br>

        <label>城市：
            <select v-model="cityId">
                <option value="">未选择</option>
                <option :value="city.id" v-for="(city,index) in allCity" :key="index">{{city.name}}</option>
            </select>
        </label>
        <span v-cloak>{{cityId}}</span>
        <br>
        <br>

        <label>介绍：
            <textarea v-model="desc" cols="30" rows="5"></textarea>
        </label>
        <span v-cloak>{{desc}}</span>

        <input type="submit" value="提交" @click="submitForm">
    <br>

    <h3>修饰符lazy</h3>
    <input type="text" v-model.lazy="msg"> <span>{{msg}}</span>

    <h3>修饰符number</h3>
    <input type="number" v-model.number="num"> <span>{{typeof num}}</span>

    <h3>修饰符trim</h3>
    <input type="text" v-model.trim="space"> <span>{{space}}</span>

</div>

<script src="./vue.js"></script>
<script>
    const vm = new Vue({
        el: "#app",
        data: {
            username: "",
            password: "",
            gender: "male",
            hobby: ["football"],
            allCity: [{id:1,name:"beijing"},{id:2,name:"tianjin"}],
            cityId: "",
            desc: "",
            msg: "",
            num:"",
            space:""

        },
        methods: {
            submitForm(){
                console.log(this.username,this.password,this.gender,this.hobby,this.cityId,this.desc)
            }
        }
    })
</script>

</body>
</html>